# PART2 重回帰モデルを作ってみよう

## おまじない

In [5]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression as LR

## データの読み込み
- train.csvとtest.csvとsample.csvの３つのファイルを読み込みましょう
- それぞれを読み込んだものは変数はtrain, test, sampleに代入しましょう
- sampleを読み込む時は、header=Noneというオプションを忘れないようにしましょう

In [6]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sample = pd.read_csv('sample.csv', header=None)

## trainのweekの各値がそれぞれいくつあるか数えてみましょう

In [9]:
train['week'].value_counts()

水    43
木    43
金    41
火    41
月    39
Name: week, dtype: int64

## trainのweekを試しにダミー変数化してみよう
- pd.get_dummies関数を使います
- カッコの中にダミー変数化したい変数を書きます

In [10]:
pd.get_dummies(train['week'])

     月  木  水  火  金
0    1  0  0  0  0
1    0  0  0  1  0
2    0  0  1  0  0
3    0  1  0  0  0
4    0  0  0  0  1
..  .. .. .. .. ..
202  0  0  1  0  0
203  0  1  0  0  0
204  0  0  0  0  1
205  1  0  0  0  0
206  0  0  0  1  0

[207 rows x 5 columns]

## trainからweekとtemperatureを抜きだし、ダミー変数化したものを変数trainXに代入しよう

In [12]:
trainX = pd.get_dummies(train[['week','temperature']])

## trainXの中身を確認してみましょう

In [13]:
trainX.head()

   temperature  week_月  week_木  week_水  week_火  week_金
0         19.8       1       0       0       0       0
1         17.0       0       0       0       1       0
2         15.5       0       0       1       0       0
3         15.2       0       1       0       0       0
4         16.1       0       0       0       0       1

## trainからyを取り出し、変数yに代入しましょう

In [14]:
y = train['y']

## 回帰モデルの箱を用意しましょう
- 変数名はmodelとしましょう

In [15]:
model =LR()

## 重回帰モデルを作りましょう

In [16]:
model.fit(trainX,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## 作ったモデルの傾きや切片を確かめてみましょう

In [17]:
model.coef_

array([-2.53878074,  8.26339936, -9.47240196, -2.02873774,  1.85251984,
        1.38522051])

In [18]:
model.intercept_

135.69119841401601

# 実習

1.testからweekとtemperatureを抜きだし、ダミー変数化したものを変数testXに代入しよう

In [30]:
testX = pd.get_dummies(test[['week','temperature']])

2.testXの中身を確認しよう

In [31]:
testX.head()

   temperature  week_月  week_木  week_水  week_火  week_金
0         20.2       0       0       1       0       0
1         23.9       0       1       0       0       0
2         28.7       0       0       0       0       1
3         21.5       1       0       0       0       0
4         22.1       0       0       0       1       0

3.modelとtestXを使って予測をして、予測結果を変数名predに代入しよう

In [32]:
pred = model.predict(testX)

4.sample[1]にpredを代入して、"submit3.csv"というファイル名でファイル出力しよう

In [33]:
sample[1] = pred
sample

             0           1
0    2014-10-1   82.379090
1    2014-10-2   65.541937
2    2014-10-3   64.213412
3    2014-10-6   89.370812
4    2014-10-7   81.436664
5    2014-10-8   74.508869
6    2014-10-9   69.096230
7   2014-10-10   70.814242
8   2014-10-14   69.504394
9   2014-10-15   94.057481
10  2014-10-16   78.997475
11  2014-10-17   78.684462
12  2014-10-20   83.277738
13  2014-10-21   86.260347
14  2014-10-22   94.311359
15  2014-10-23   88.898720
16  2014-10-24   89.601219
17  2014-10-27   86.324275
18  2014-10-28   89.053006
19  2014-10-29   83.902358
20  2014-10-30   76.458694
21  2014-10-31   89.347341
22   2014-11-4   89.560762
23   2014-11-5   93.041969
24   2014-11-6   77.474206
25   2014-11-7   86.046926
26  2014-11-10   90.132446
27  2014-11-11  100.223641
28  2014-11-12   97.104018
29  2014-11-13   76.712572
30  2014-11-14   96.963683
31  2014-11-17  107.650033
32  2014-11-18   96.669348
33  2014-11-19   95.834628
34  2014-11-20   99.561599
35  2014-11-21   99.248586
36  2014-11-25  108.601618
37  2014-11-26  110.305678
38  2014-11-27   87.883207
39  2014-11-28   98.233074

In [34]:
sample.to_csv('submit3.csv',index=None,header=None)

5.submit3.csvをDeepAnalyticsに投稿して、submit1.csvやsubmit2.csvのスコアと比較してみよう